
.correct{
    background-color: rgb(143, 179, 89);
    cursor: not-allowed;
}
.wrong{
    background-color: rgb(221, 124, 124);
    cursor: not-allowed;
}
.option{
    border: 2px solid rgb(69, 226, 226);
    margin: 5px;
    padding: 20px 10px;
    border-radius: 8px;
}
.lavel{
    margin-left: 5px;
}
input{
    cursor: pointer;
}
.common{
    cursor: not-allowed;
}